$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;

$primary: #3f6ad8;
$secondary: #6c757d;

$success: #3ac47d;
$info: #16aaff;
$warning: #f7b924;
$danger: #d92550;
$light: #eee;
$dark: #1e2124;
$focus: #444054;
$alternate: #794c8a;

.backgroud-gradient {
    background: rgb(195,234,33);
    background: radial-gradient(circle, rgba(195,234,33,1) 0%, rgba(255,255,255,1) 100%);
}

.text-heading {
    color: $dark;
}

.text-normal {
    color: $dark;
}

.text-grey {
    color: $gray-dark;
}